<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">.'. Loja .'.</a>
	</div>
	<!-- /.navbar-header -->
	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="/profile"><i class="fa fa-user fa-fw"></i> Perfil</a>
				</li>
				<li><a href="/config"><i class="fa fa-gear fa-fw"></i> Configura&ccedil;&otilde;es</a>
				</li>
				<li class="divider" ng-if="user.admin == true"></li>
				<li ng-if="user.admin == true"><a href="/admin"><i class="fa fa-sitemap fa-fw"></i> Administra&ccedil;&atilde;o</a>
				</li>
				<li class="divider"></li>
				<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
				</li>
			</ul>
			<!-- /.dropdown-user -->
		</li>
		<!-- /.dropdown -->
	</ul>
	<!-- /.navbar-top-links -->
</nav>

<div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row">

	<!-- LOCAL INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-user"></span> Local</h3>

			<container ng-show="user.email">
				<p>
					<strong>id</strong>: {{ user._id }}<br>
					<strong>email</strong>: {{ user.email }}<br>
					<strong>password</strong>: {{ user.password }}
				</p>
				
				<a redir href="/unlink/local" class="btn btn-default">Unlink</a>
			</container>
			<container ng-hide="user.email">
				<a href="/connect/local" class="btn btn-default">Connect Local</a>
			</container>

		</div>
	</div>

</div>
